# Gradle
.gradle/
build/
**/build/

# Kotlin Metadata (this ensures that Kotlin's internal files do not get tracked)
.kotlin/metadata/
.kotlin/sessions/
.kotlin/klib/

# Android Studio and IntelliJ IDEA
*.iml
.idea/
.idea_modules/

# macOS specific
.DS_Store

# Local config files (user-specific)
local.properties
xcuserdata/

# Gradle Wrapper
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat

# Native build output
.externalNativeBuild/
.cxx/

# Captured screenshots for Android tests
captures/

# Kotlin transformed metadata libraries and compiler session files
/.kotlin/metadata/kotlinTransformedMetadataLibraries/
/.kotlin/sessions/kotlin-compiler-*